@model IEnumerable<Books>

<h2>Books</h2>
<form asp-action="Books" method="get">
    <div class="form-group">
        <label for="SearchString">Search by partial title:</label>
        <input type="text" class="form-control" name="SearchString"
            value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

 <div style="display: block">
     <a href="/Books/InsertBook/">Create a New Book</a>
 </div>

<table class="table">
    <tr>
       <th>ISBN</th>
       <th>Title</th>
       <th>Author</th>
       <th>Genre</th>
    </tr>

    @foreach (var books in Model)
    {
        <tr>
            <td><a href=/Books/ViewBook/@books.Id>@books.Id</a></td>
            <td>@books.Title</td>
            <td>@books.Author</td>
            <td>@books.Genre</td>
        </tr>
    }
</table>
